/* apply a natural box layout model to all elements, but allowing components to change */
html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	background-color: black;
	margin: 0;
}

h1 {
	font-family: 'Cabin Sketch', cursive;
	color: red;
	/* font-size: 55px; */
	font-weight: lighter;
	background-color: rgb(54, 53, 53);
	margin: 0;
	padding: 5px 0;
	width: 100%;
	text-align: center;
}


@media (max-width: 480px) {
	#mainHeader {
		font-size: 20px;
	}
}
@media (min-width: 768px) {
	#mainHeader {
		font-size: 40px;
	}
}
@media (min-width: 1200px) {
	#mainHeader {
		font-size: 55px;
	}
}

#myInput {
	/* add a search icon to input */
	background-image: url('../searchBackground.png');
	/* position the search icon */
	background-position: left center;
	/* do not repeat the icon image */
	background-repeat: no-repeat;
	/* full width */
	width: 100%;
	font-size: 16px;
	padding: 12px 20px 12px 40px;
	border: 1px solid #ddd;
	margin-bottom: 12px;
}

#myUL {
	/* remove default list styling */
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#myUL li a {
	/* add a border to all links */
	border: 1px solid #ddd;
	/* prevent double borders */
	margin-top: -1px;
	background-color: #f6f6f6;
	padding: 12px;
	text-decoration: none;
	font-size: 18px;
	color: black;
	display: block;
}

#myUL a:hover:not(.header) {
	/* add a hover effect to all links,
	except for headers */
	background-color: #eee;
}