body {
	background-color: black;
}

h1 {
	 font-family: 'Cabin Sketch', cursive;
	 color: red;
	 font-size: 55px;
	 font-weight: lighter;
	 margin-top: initial;

}

/* Dropdown Button */
.dropbtn {
	background-color:palegoldenrod;
	color: red;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 24px;
	padding: 30px;
}
