/* apply a natural box layout model to all elements, but allowing components to change */
html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	background-color: black;
	margin: 0;
}

h1 {
	font-family: 'Cabin Sketch', cursive;
	color: red;
	/* font-size: 55px; */
	font-weight: lighter;
	background-color: rgb(54, 53, 53);
	margin: 0;
	padding: 5px 0;
	width: 100%;
	text-align: center;
}


/* Dropdown Button */
.dropbtn {
	background-color: palegoldenrod;
	color: red;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 28px;
	padding: 25px;
	border-width: 5px;
	border-style: double;
	border-color: gray;
	cursor: pointer;
}


@media (max-width: 480px) {
	#mainHeader {
		font-size: 20px;
	}
}
@media (min-width: 768px) {
	#mainHeader {
		font-size: 40px;
	}
}
@media (min-width: 1200px) {
	#mainHeader {
		font-size: 55px;
	}
}


#myInput {
	/* add a search icon to input */
	background-image: url('../searchBackground.png');
	/* position the search icon */
	background-position: left center;
	/* do not repeat the icon image */
	background-repeat: no-repeat;
	/* full width */
	width: 100%;
	font-size: 16px;
	padding: 12px 20px 12px 40px;
	border: 1px solid #ddd;
	margin-bottom: 12px;
}

#myUL {
	/* remove default list styling */
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#myUL li a {
	/* add a border to all links */
	border: 1px solid #ddd;
	/* prevent double borders */
	margin-top: -1px;
	background-color: #f6f6f6;
	padding: 12px;
	text-decoration: none;
	font-size: 18px;
	color: black;
	display: block;
}

#myUL a:hover:not(.header) {
	/* add a hover effect to all links,
	except for headers */
	background-color: grey;
}

/* animation */
body {
	margin:0; /*gets rid of white space around body*/
	height:200vh;
	background:url("https://static.pexels.com/photos/1440/city-road-street-buildings.jpg") no-repeat center / contain;
	background-color:#eee;
	position:relative; /*REQUIRED Sets up positioning for your footer*/
  }
  
  #sticky {
	width:100%;
	padding:20px;
	padding-bottom:16px;
	background:black;
	color:white;
	font-weight:bold;
	font-size:18px;
	text-align:center;
	position:fixed;    /*Here's what sticks it*/
	bottom:0;          /*to the bottom of the body*/
	left:0;            /*and to the left of the body.*/
	
	/*EFFECTS*/
	border-top:1px solid red;
	background-image:url(http://rs257.pbsrc.com/albums/hh234/tfm448/Snow411.gif~c200)
  }
  

/* The container <div> - needed to
 position the dropdown content */
.dropdown {
	position: relative;
	display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
	display: none;
	position: absolute;
	background-color: aliceblue;
	min-width: 160px;
	box-shadow: 10px;
	z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
	color: orange;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
	background-color: white;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
	background-color: whitesmoke;
}

.dropdown:hover .dropbtn {
	background-color: #a0e4ff;
}

/* 
Show the dropdown menu
(use JS to add this class to the 
.dropdown-content container
when the user clicks on the dropdown button)
 */
.show {
	display: block;
}

.hometeam {
	color: white;
}
